:root {
    --speed: 3s;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
}

.wrapper {
    width: 600px;
    height: 200px;
    position: relative;
    margin: auto;

}

.score {
    position: absolute;
    text-align: end;
    width: 50px;
    font-size: 23px;
    text-shadow: 1px 1px 3px black;
}


.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid black;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(images/dino.png);
    background-size: contain;
    position: relative;
    top: 150px;
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(images/cactus.png);
    background-repeat: no-repeat;
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
}

.active {
    animation: cactusMovie var(--speed) infinite linear;
}

@keyframes cactusMovie {
    0% {
        left: 580px;
    }

    100% {
        left: 0px;
    }
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}


.btn__start {
    padding: 3px 20px;
    font-size: 22px;
    margin-top: 20px;
    box-shadow: 3px 3px 8px black;
    transition: 0.1s ease-in;
    transform: translateX(250px);
}

.btn__start:hover {
    transform: translateX(250px) translate3d(1px, 1px, 10px);
}